

.id-card img {
    width: 150px;
    height: 110px;
}

.id-card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px !important;

}

/* .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */