.big-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.inner-box {
    width: 40%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    border: 2px solid black;
}